<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296040855616-63oue3q1afjv2mivnhoqd93bvuottom5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296040855616-63oue3q1afjv2mivnhoqd93bvuottom5</string>
	<key>API_KEY</key>
	<string>AIzaSyAHTNywUlKBFQVIoEacGXCa2UCNFDN_NK0</string>
	<key>GCM_SENDER_ID</key>
	<string>296040855616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Purdue.parsetagram</string>
	<key>PROJECT_ID</key>
	<string>parsetagram-d5433</string>
	<key>STORAGE_BUCKET</key>
	<string>parsetagram-d5433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296040855616:ios:b46e14a9a541e536a747a5</string>
</dict>
</plist>